body {
  margin: 0;
  padding: 0;
  background: #ffe;
  font-size: 14px;
  font-family: "微软雅黑", "宋体", sans-serif;
  color: #231f20;
  overflow: auto;
}
a {
  color: #000;
  font-size: 14px;
}
#main {
  width: 100%;
}
#wrap {
  position: relative;
  margin: 0 auto;
  width: 1100px;
  height: 680px;
  margin-top: 10px;
}
#text {
  width: 272px;
  height: 560px;
  left: 120px;
  top: 80px;
  position: absolute;
}
#code {
  display: none;
  font-size: 16px;
}
#clock-box {
  position: absolute;
  left: 60px;
  top: 550px;
  font-size: 28px;
  display: none;
}
#clock-box a {
  font-size: 28px;
  text-decoration: none;
}
#clock {
  margin-left: 48px;
}
#clock .digit {
  font-size: 64px;
}
#canvas {
  margin: 0 auto;
  width: 1100px;
  height: 680px;
}
#error {
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
  display: none;
}
.hand {
  cursor: pointer;
}
.say {
  margin-left: 5px;
}
.space {
  margin-right: 150px;
}

/* bgm */
@-webkit-keyframes reverseRotataZ {
  0% {
    -webkit-transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(-360deg);
  }
}
@-webkit-keyframes rotataZ {
  0% {
    -webkit-transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
  }
}
#musicControl {
  position: fixed;
  right: 10px;
  top: 20px;
  margin-top: 0;
  display: inline-block;
  z-index: 99999999;
}
#musicControl a {
  display: inline-block;
  width: 25px;
  height: 25px;
  overflow: hidden;
  background: url("../images/mcbg.png") no-repeat;
  background-size: 100%;
}
#musicControl a audio {
  width: 100%;
  height: 56px;
}
#musicControl a.stop {
  background-position: left bottom;
}
#musicControl a.on {
  background-position: 0px 1px;
  -webkit-animation: reverseRotataZ 1.2s linear infinite;
}
#music_play_filter {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999998;
}
